<% include ./partials/header %>

<div class="form">
    <h1>Login</h1>

    <form action="/login" method="POST">
        <div class="form-group">
            <input class="form-control wheat-border" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <input class="form-control wheat-border" type="password" name="password" placeholder="password">
        </div>
        <button class="site-button btn-block">Log In</button>
        
       
    </form>
</div>


<% include ./partials/footer %>